@import "mixins";

.container {
  max-width: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-out;

  @include mobile {
    max-width: 100%;
    width: 100%;
  }
  @include tablet {
    max-width: 724px;
  }
  @include desktop {
    max-width: 940px;
  }
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  transition: all 0.2s ease-out;

  .gnbWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    @include tablet {
      height: 3rem;
      padding-top: 3px;
    }

    .logo {
      width: 2rem;
      height: 2rem;
      cursor: pointer;

      @include tablet {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .left {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      svg {
        display: block;
      }
      @include tablet {
        padding: 0 1rem;
      }
    }
    .right {
      flex-grow: 0;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.2rem;
      svg {
        display: block;
      }
      a {
        font-weight: 700;
      }
      @include tablet {
        padding: 0 1rem;
      }
    }
    .center {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @include tablet {
        .ant-menu {
          display: none;
        }
      }
    }

    .showXs {
      display: none;
      @include tablet {
        display: flex;
      }
    }
    .showSm {
      display: flex;
      @include tablet {
        display: none;
      }
    }
  }
}
