.custom-marker {
  font-size: 12px;
  background: #ff3;
  border-radius: 0 8px 8px 8px;
  border: 1px solid #000;
  padding: 3px 7px;

  label {
    font-size: 12px;
    color: #fff;
    background: blue;
    padding: 0 4px;
    border-radius: 5px;
    margin-right: 5px;
  }
}
