.postListGroup {

}

.postHero {}

.postList {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  :global {
    .post {
      background: #fff;
      .title {
        color: red;
      }
    }
  }
}
