@import "@/styles/inc/breakpoints";

.menuList {
  font-family: var(--font);
  display: none;
  gap: 32px;

  @include lg {
    display: flex;
  }

  a {
    text-decoration: none;
    color: var(--ax_deep_black);
    font-size: 1rem;
  }
}
