.layer {
    border-top: 1px solid var(--border-color);
    padding: 3rem 0;
}

@media (min-width: 320px) {
  .layer {
    padding: 1rem 0;
  }
}

.pageContainer {
  max-width: 100%;
  margin: 0 auto;
  transition: all 0.2s ease-out;
}

/*xs*/
@media (min-width: 320px) {
  .pageContainer {
    max-width: 100%;
    width: 100%;
    padding: 1rem;
  }
}
/*sm*/
@media (min-width: 480px) {
  .pageContainer {
    max-width: 100%;
    width: 100%;
  }
}
/*md*/
@media (min-width: 768px) {
  .pageContainer {
    max-width: 724px;
  }
}
/*lg*/
@media (min-width: 1024px) {
  .pageContainer {
    max-width: 940px;
  }
}
/*xl*/
@media (min-width: 1280px) {
  .pageContainer {
    max-width: 1000px;
  }
}
/*2xl*/
@media (min-width: 1440px) {
  .pageContainer {
    max-width: 1000px;
  }
}
